# Virtual Environment
venv/
.env/
venv*/

# Python cache and build files
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# IDE-specific (PyCharm)
.idea/
.DS_Store  # macOS system file

# Logs and databases
*.log
*.sqlite3

# Environment variables
.env
.env.local